<div class="sidebar bg-light">
    <div class="pt-2 h-100">

        <div class="menu list-group list-group-flush pt-5">
            <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/emotes">
                <span class="oi oi-chat" aria-hidden="true"></span> Emotes
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/emoteedit">
                <span class="oi oi-plus" aria-hidden="true"></span> New Emote
            </NavLink>
        </div>
    </div>
</div>