@page "/emotes"
<PageTitle>@Title</PageTitle>

@if (Emotes == null)
{
    <div class="containerLoader">
        <div class="loader"></div>
    </div>
}
else
{
        <div class="containerPatronTop">
            <h2>Emotes</h2>
            <div class="filter-container">
            <div class="filter-options">
                <label for="sort">Ordenar por:</label>
                <select id="sort" class="filter-select" @bind="SelectedSort">
                    <option value="trending">Trending</option>
                    <option value="alphabetical">Alphabetically </option>
                    <option value="creation-date">Date</option>
                </select>
                <div class="group">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24" @onclick="Search"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
                    <input id="search" placeholder="Search" type="search" class="input" @oninput="OnSearchQueryChanged">
                </div>
            </div>
        </div>

        @if (IsEmotePopUpVisible || IsPopUpTrendVisible)
        {
            <div class="overlayPopUp" @onclick="ClosePopUps"></div> <!-- Fondo oscuro -->
        }

        @if (IsEmotePopUpVisible)
        {
            <EmotePopUp Emote="_selectedEmote" OnClose="ClosePopUps" />
        }

        @if (IsPopUpTrendVisible)
        {
            <PopUpTrend Emote="_selectedEmoteTrend" OnClose="ClosePopUps" />
        }

        <div class="row">
            @foreach(var emote in FilteredCards){
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <ErrorBoundary>
                        <ChildContent>
                            <EmoteCard Emote="emote" EmoteQuickViewClicked="ShowEmotePopUp" EmoteTrendPopUp="ShowEmotePopUpTrend" />
                        </ChildContent>
                        <ErrorContent>
                            <p class="errorUI">Invalid!!!</p>
                        </ErrorContent>
                    </ErrorBoundary>
                </div>
            }

        </div>
    </div>
}
